table {
    border-collapse: collapse;
    width:50%;
}

table, th, td {
    border: 1px solid black;
}

.btn-add {
	background:#78b266;
	color:#fff;
	border: 1px solid;
	padding: 10px;
	text-decoration:none;
}

.encabezado {
    padding: 10px;
    background: #78b266;
    color: #fff;
    font-weight: 600;
    margin-bottom:  10px;
}

.form-data {
    padding: 10px;
    border: 1px solid #ced4da;
}